.card {
  width: 100%;
}

.card__image-container {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.card__image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card__title {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: white;
  padding: 2px 12px;
  border-radius: 4px;
  font-size: 14px;
}

@media (max-width: 767px) {
  .card__image-container {
    min-width: 164px;
  }

  .card__title {
    font-size: 12px;
    padding: 1px 8px;
  }
}
