@import "../../index.css";

.header {
  line-height: 24px;
  max-width: 1360px;
}

.header__container {
  display: flex;
  align-items: center;
  margin: 32px auto auto;
}

.header__logo {
  background-image: url("../../assets/wtwr.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 89px;
  height: 40px;
}

.header__date-location {
  height: 24px;
  margin: 11px auto 5px 24px;
}

.header__add-clothes-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 8px 20px 8px auto;
  padding: 0px;
  line-height: 24px;
}

.header__user {
  display: flex;
}

.header__user-name {
  margin: 8px 12px 7px auto;
}

.header__user-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-image: url("../../assets/avatar.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header__menu-button {
  display: none;
}

.header__menu-icon {
  width: 44px;
  height: 44px;
}

@media (max-width: 767px) {
  .header__container {
    margin-top: 0;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }

  .header__menu-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }

  .header__add-clothes-button,
  .header__user {
    display: none;
  }

  .header__date-location {
    margin: 32px 0 0 0;
    height: auto;
  }
}
