body,
#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  padding: 18px 16px 20px;

  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .app {
    padding: 0;
    margin: 0 auto;
  }

  .app > .header,
  .app > .main,
  .app > .footer {
    margin-left: 40px !important;
    margin-right: 40px !important;
  }
}
